/* Watchlist.module.css */

/* Style for video container */
/* .videocontainer {
  margin: 20px;
  background-color: black;
  padding: 20px;
} */

/* Style for video header */
.videoheader {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  text-align: center; /* Center-align text */

}

/* Style for video list */
.videolist {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
color: white;
}

/* Style for video item */
/* Watchlist.module.css */

/* Style for video item */
.videoitem {
  border: 0px solid #ccc;
  border-radius: 0; /* Set border-radius to 0 to remove it */
  padding: 20px;
  margin: 20px;
  width: 200px;
}

/* Style for video title */
.videotitle {
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center; /* Center-align text */
}

/* Style for video thumbnail container */
.videothumbnailcontainer {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-left: auto; /* Move the thumbnail container to the right */

  
  
}

/* Style for video thumbnail */
.videothumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* Watchlist.module.css */
/* Watchlist.module.css */

.removeButton {
padding: 8px 16px;
background-color: orangered; /* Adjust color as needed */
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.removeButton:hover {
background-color: orangered; /* Adjust hover color as needed */
}
